.btn{
    border-radius: 2px;
    padding-left: 14px;
    padding-right: 14px;
    text-transform: none;
    /*border: solid black 0.2em;*/
    background-color: #ee6e73;
}
.btn:hover{
    /*border: solid black 0.2em;*/
    background-color: #ec5f64;
}
.muteBTN{
    background-color: #b3e6ff;
    border: solid black 0.2em;
    color: black;


}
.muteBTN:hover{
    background-color: black;
    color: white;
}
.side-nav{
    color: black;
    font-size: 2.5vh;
}
#sidenav-overlay{
    visibility: hidden;
}
.side-nav{
    top:65px;
    font-size: 98%;
}
.sideHeading{
    font-size: 141% !important;
    padding-top: 2% !important;
}
.searchInput{
    margin-left: 1em;
    width: 77%;
    margin-right: 1em;

}
.iconBTN{
    cursor: pointer;
    color: #757575;
}

#closeBTN{
    float: right;
    padding-right: 3.1%;
    padding-top: 1.1%;
    cursor: pointer;
    font-size: 166% !important;
}

input[type=checkbox]:checked+.lever {
    background-color: #818181 !important;
}

input[type=checkbox]:checked+.lever:after {
    background-color: #F1F1F1 !important;
}
.row{
    margin: 0 !important;
}
.switch label .lever{
    margin-left: 10px !important;
    margin-right: 2px !important;
}

.nav-wrapper{
    z-index: 2000;
}
nav ul li:hover {
   background-color: #ec5f64;
}
.inputLableCustom{
    color: #9e9e9e;
    font-size: 1rem;
    text-align: center;;
}
.side-nav{
    width: 350px;
}
/*makes drop down menus display corectly*/
.dropdown-content{
    width: 10em !important;
    width: 10em !important;
    top: 64px !important;
}

/*dropdown menu color */
.dropdown-content li>a, .dropdown-content li>span {
    color: #ee6e73 !important;
}
.screenIcon {
    width: calc(196px * 1.5625);
    height: 196px;
    background-color: black;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;

}
#slideList{
    overflow: hidden;
    overflow-y: scroll;
    height: 82vh;
}
#layerList{
    overflow: hidden;
    overflow-y: scroll;
    height: 82vh;
}

#slidePreviewEditor{
    left: 350px;
    position: relative;
    width: calc(800px * 1.5625);
    height: 800px;
    background-color: black;
    margin: 1%
}
.noPadding {
    padding: 0em !important;

}
